<!-- Header Bar -->
<div class="crystal-header">
    <div class="header-left">
        <button id="burger" class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    
    <div class="header-right">
        <button id="themeToggle" class="theme-toggle">
            <i class="fas fa-sun"></i>
        </button>
        <div class="user-info">
            <div class="user-avatar">A</div>
            <div class="user-details">
                <div class="user-name">Admin</div>
                <div class="user-role">Administrator</div>
            </div>
        </div>
    </div>
</div> 